@media ( max-width: 767px )
    .header
        &__logo
            width: 50% !important
        &__link
            display: none !important

    .main
        &__content
            padding: 15vh 0 !important
        &__title
            font-size: 40px !important
    
    .quote
        margin-top: 150px !important
        .title
            margin-bottom: 30px !important

    .catalog
        &__content
            padding: 60px 20px !important
            background-size: 250vh !important
            background: url('../img/Section[catalog-mobile].jpg') no-repeat !important
            background-size: cover !important
        &__link
            margin-top: 110px !important

    .request
        margin-top: 150px !important
        form
            input
                width: 100% !important
                margin-left: 0 !important
                margin-top: 40px !important
        

    .footer
        margin-top: 150px !important
        padding: 100px 0 !important
        &__title
            margin-bottom: 40px !important
        .mobile-none
            display: none !important
        .mobile-open
            padding: 0 15px !important
            display: block !important
            margin-top: 80px !important
            &:nth-last-child(1)
                margin-top: 40px !important

// // ///////////////////////////////////////////////////////////////////////////
   
@media screen and ( max-width: 365px )
    .main
        &__content
            padding: 15vh 0 !important
        &__title
            font-size: 34px !important
        &__subtitle
            font-size: 16px !important

    .catalog
        .title
            font-size: 28px !important
        .subtitle
            font-size: 16px !important
        &__link
            margin-top: 60px !important

    .footer
        &__link
            font-size: 16px !important
   
// // ///////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) and (max-width: 991px)
    .header
        &__link
            display: none !important

// // ///////////////////////////////////////////////////////////////////////////

// @media (min-width: 992px) and (max-width: 1199px)
    
                        


   