@media ( max-width: 767px )
    .header
        &__logo
            width: 90% !important
        &__link
            display: none !important
        .hamburger
            display: block !important

    .main
        &__content
            padding: 15vh 0 !important
        &__title
            font-size: 40px !important
    
    .quote
        margin-top: 150px !important
        .title
            margin-bottom: 30px !important
        &__img
            height: 222px !important

    .catalog
        &__content
            padding: 60px 20px !important
            background-size: 250vh !important
            background: url('../img/Section[catalog-mobile].jpg') no-repeat !important
            background-size: cover !important
        &__link
            margin-top: 110px !important

    .request
        margin-top: 150px !important
        form
            input
                width: 100% !important
                margin-left: 0 !important
                margin-top: 40px !important
        

    .footer
        margin-top: 150px !important
        padding: 100px 0 !important
        &__title
            margin-bottom: 40px !important
        .mobile-none
            display: none !important
        .mobile-open
            padding: 0 15px !important
            display: block !important
            margin-top: 80px !important
        .blammo
            position: relative !important

    .main-2
        height: 75vh !important
        &__content
            padding: 8vh 0 !important
        &__title
            margin-bottom: 40px !important
            font-size: 40px !important

    .services-content
        margin-top: 150px !important
        &__item
            margin-bottom: 90px !important
        &__description
            padding-left: 0 !important
        &__img
            margin-top: 50px !important
            padding: 15px !important
        &__yellow-box
            top: -5px !important
            left: -5px !important

    .about-us
        margin-top: 150px !important
        &__photo
            width: 100% !important
        &__description
            padding-left: 0 !important    
        &__img
            margin-top: 80px !important
            padding: 15px !important
        &__yellow-box, &__yellow-box2
            top: -5px !important
            left: -5px !important

    .maps
        margin-top: 150px !important
        &__title
            margin-bottom: 30px !important

    .product-range
        margin-top: 150px !important
        &__name
            width: 100% !important
// // ///////////////////////////////////////////////////////////////////////////
   
@media screen and ( max-width: 365px )
    .active__header
        .active__menu
            .active__link
                margin-top: 50px !important
                a
                    margin-bottom: 25px !important

    .header
        &__logo
            width: 75% !important

    .main
        &__content
            padding: 15vh 0 !important
        &__title
            font-size: 34px !important
        &__subtitle
            font-size: 16px !important

    .main-2
        &__title
            font-size: 30px !important

    .catalog
        .title
            font-size: 28px !important
        .subtitle
            font-size: 16px !important
        &__link
            margin-top: 60px !important

    .footer
        &__link
            font-size: 16px !important

    .product-range
        &__item
            padding: 0 !important
        &__wrapper
            padding-left: 0 !important
            padding-right: 0 !important
   
// // ///////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) and (max-width: 991px)
    .active__header
        .active__logo
            width: 35% !important
        .active__link
            margin-top: 120px !important
            a
                font-size: 26px !important
                margin-bottom: 50px !important
    .header
        &__link
            display: none !important
        .hamburger
            display: block !important
            &_active
                span
                    top: 35px !important

    .request
        form
            input
                margin-left: 0 !important
                margin-bottom: 10px !important
                width: 100% !important

    .catalog
        &__link
            margin-top: 40px !important

    .services-content
        &__title
            font-size: 22px !important
            margin-bottom: 20px !important
        &__subtitle
            font-size: 16px !important

    .product-range
        &__name
            width: 100% !important

    .last-news
        &__slider-arrow
            &-left
                left: 100px !important
            &-right
                right: 100px !important
       


// // ///////////////////////////////////////////////////////////////////////////

@media (min-width: 992px) and (max-width: 1199px)
    .request
        form
            input
                width: 210px !important

    .product-range
        &__name
            width: 285px !important
        &__wrapper
            padding-left: 0 !important
            padding-right: 0 !important
  
    .last-news
        &__slider-arrow
            &-left
                left: -10px !important
            &-right
                right: -10px !important
                        


